{% extends "hr/Base.html" %}

{%  block title %}
    Create HIT
{% endblock %}

{% block content %}
    <ul>
      <li>Number of start links available:
            {{ num_participants }}</li>
      <li>Participation fee: {{ participation_fee }} USD</li>
    </ul>

    <form action="" method="post" role="form" class="form"
          id="form">{% csrf_token %}

        {{ form.as_table }}

      <p>
        When you click the below button, your HIT will be immediately published on MTurk.
      </p>
      <button type="submit" class="btn btn-primary" id="btn-publish-hit">
        Publish HIT
      </button>
    </form>

{% endblock %}
