{% extends "hr/Base.html" %}

{% block title %}
    Manage HIT
{% endblock %}

{% block content %}
    <p><a href="{% url 'SessionPayments' session.code %}">Payments</a></p>
    <p><a href="{{ session.admin_url }}">oTree site</a></p>


    {% if is_expired %}
        <p>This HIT has expired, so workers can no longer accept assignments.</p>
    {% else %}
        <p>
            Published
            {% if session.use_sandbox %}
                in Sandbox
            {% endif %}
        </p>
        <p>

            <a href="{{ session.worker_url }}"
               target="_blank">Worker link</a>
        </p>
        <form action="{% url 'ExpireHIT' session.code %}" method="post">{% csrf_token %}
            <button type="submit" id="btn-expire-hit" class="btn btn-secondary">Expire HIT</button>
        </form>
        <p>
            The above button will expire this HIT early.
            You should click this button before deleting the session.
            Otherwise, your nonexistent session will still be advertised
            on the MTurk website, and MTurk workers will get a "page not found" error.
            (However, it is safe to delete the session if all assignments have been
            submitted.)
        </p>
    {% endif %}

{% endblock %}
